.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input[type=file] {
  color: #b4b5b6;
}

input[type=file]::file-selector-button {
  margin-left: -10px;
  width: fit-content;
  font-size: small;
  text-align: center;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  background-color: #5D5FEF;
}

input[type=file]::file-selector-button:hover {
  background-color: #dadae1;
}